# **SpaceX  Falcon 9 First Stage Landing Prediction**

# 2. Web Scraping Launch Records from Wikipedia
- Extract Falcon 9 launch records from a HTML table from [Wikipedia](https://en.wikipedia.org/wiki/List_of_Falcon_9_and_Falcon_Heavy_launches)
- Parse the table and convert it into a Pandas data frame for
  - Exploratory Data Analysis
  - Machine Learning Model Building

The Wikipedia page contains launch records about different Falcon 9 rockets and Falcon Heavy rockets.

![](https://upload.wikimedia.org/wikipedia/commons/f/f7/Falcon_rocket_family6.svg)

The launch records are stored in a HTML table like below:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_1_L2/images/falcon9-launches-wiki.png)

## 2.1. Import required libraries

In [1]:
!pip3 install beautifulsoup4
!pip3 install requests

Requirement already satisfied: beautifulsoup4 in c:\users\wfei2\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\wfei2\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.2.post1)
Requirement already satisfied: requests in c:\users\wfei2\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\wfei2\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\wfei2\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wfei2\anaconda3\lib\site-packages (from requests) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\wfei2\anaconda3\lib\site-packages (from requests) (1.26.14)

In [2]:
import sys
import requests
from bs4 import BeautifulSoup
import re
import unicodedata
import pandas as pd

## 2.2. Send Request and Parse with BeautifulSoup

In [4]:
# wiki split the launch records to two pages, one for before 2019 and one for after 2019
wiki_url_1 = "https://en.wikipedia.org/wiki/List_of_Falcon_9_and_Falcon_Heavy_launches_(2010%E2%80%932019)"
wiki_url_2 = "https://en.wikipedia.org/wiki/List_of_Falcon_9_and_Falcon_Heavy_launches"

In [5]:
# use requests.get() method to request the HTML page
# assign the response to a object
response_1 = requests.get(wiki_url_1).text
response_1[0:200]

'<!DOCTYPE html>\n<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-'

In [6]:
response_2 = requests.get(wiki_url_2).text
response_2[0:200]

'<!DOCTYPE html>\n<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-'

In [7]:
# Use BeautifulSoup() to create a BeautifulSoup object from a response text content
soup_1 = BeautifulSoup(response_1, 'html.parser')
soup_2 = BeautifulSoup(response_2, 'html.parser')

In [8]:
# Use soup.title to verify if BeautifulSoup work properly or not
print(soup_1.title)
print(soup_2.title)

<title>List of Falcon 9 and Falcon Heavy launches (2010â€“2019) - Wikipedia</title>
<title>List of Falcon 9 and Falcon Heavy launches - Wikipedia</title>

## 2.3. Extract Column Names from the HTML Table Header

### 2.3.1. Find the desired table with launch records

In [17]:
# Use the find_all function in the BeautifulSoup object, with element type `table`
# Assign the result to a list called `html_tables`
html_tables_1 = soup_1.find_all('tr')

# after several tries, the 4th table contains launch records needed
html_tables_1[3]

<tr>
<th scope="col">Flight No.
</th>
<th scope="col">Date and<br/>time (<a href="/wiki/Coordinated_Universal_Time" title="Coordinated Universal Time">UTC</a>)
</th>
<th scope="col"><a href="/wiki/List_of_Falcon_9_first-stage_boosters" title="List of Falcon 9 first-stage boosters">Version,<br/>Booster</a> <sup class="reference" id="cite_ref-booster_5-0"><a href="#cite_note-booster-5">[a]</a></sup>
</th>
<th scope="col">Launch site
</th>
<th scope="col">Payload<sup class="reference" id="cite_ref-Dragon_6-0"><a href="#cite_note-Dragon-6">[b]</a></sup>
</th>
<th scope="col">Payload mass
</th>
<th scope="col">Orbit
</th>
<th scope="col">Customer
</th>
<th scope="col">Launch<br/>outcome
</th>
<th scope="col"><a href="/wiki/Falcon_9_first-stage_landing_tests" title="Falcon 9 first-stage landing tests">Booster<br/>landing</a>
</th></tr>

In [21]:
# Use the find_all function in the BeautifulSoup object, with element type `table`
# Assign the result to a list called `html_tables`
html_tables_2 = soup_2.find_all('tr')

# after several tries, the 4th table contains launch records needed
html_tables_2[3]

<tr>
<th scope="col">Flight No.
</th>
<th scope="col">Date and<br/>time (<a href="/wiki/Coordinated_Universal_Time" title="Coordinated Universal Time">UTC</a>)
</th>
<th scope="col"><a href="/wiki/List_of_Falcon_9_first-stage_boosters" title="List of Falcon 9 first-stage boosters">Version,<br/>booster</a><sup class="reference" id="cite_ref-booster_17-0"><a href="#cite_note-booster-17">[b]</a></sup>
</th>
<th scope="col">Launch<br/>site
</th>
<th scope="col">Payload<sup class="reference" id="cite_ref-Dragon_18-0"><a href="#cite_note-Dragon-18">[c]</a></sup>
</th>
<th scope="col">Payload mass
</th>
<th scope="col">Orbit
</th>
<th scope="col">Customer
</th>
<th scope="col">Launch<br/>outcome
</th>
<th scope="col"><a href="/wiki/Falcon_9_first-stage_landing_tests" title="Falcon 9 first-stage landing tests">Booster<br/>landing</a>
</th></tr>

In [22]:
# Let's print the third table and check its content
first_launch_table = html_tables_1[3]
second_launch_table = html_tables_2[3]

**Note:**
* The columns names are embedded in the table header elements `<th>`.
* Need to iterate through `<th>` and extract column names.

### 2.3.2. Extract column names of desired tables

In [29]:
# define a function to help with column name extraction
def extract_column_from_header(row):
    
    if (row.br):
        row.br.extract()
    if row.a:
        row.a.extract()
    if row.sup:
        row.sup.extract()
        
    colunm_name = ' '.join(row.contents)
    
    # Filter the digit and empty names
    if not(colunm_name.strip().isdigit()):
        colunm_name = colunm_name.strip()
        return colunm_name

In [26]:
column_names_1 = []

for i, col in enumerate(first_launch_table.find_all('th')):
    print(i, col)
    header = extract_column_from_header(col)
    print(header)
    if header != '' and len(header) > 0:
        column_names_1.append(header)

print(column_names_1)

0 <th scope="col">Flight No.
</th>
Flight No.
1 <th scope="col">Date andtime ()
</th>
Date and time ( )
2 <th scope="col">
</th>

3 <th scope="col">Launch site
</th>
Launch site
4 <th scope="col">Payload
</th>
Payload
5 <th scope="col">Payload mass
</th>
Payload mass
6 <th scope="col">Orbit
</th>
Orbit
7 <th scope="col">Customer
</th>
Customer
8 <th scope="col">Launchoutcome
</th>
Launch outcome
9 <th scope="col">
</th>

['Flight No.', 'Date and time ( )', 'Launch site', 'Payload', 'Payload mass', 'Orbit', 'Customer', 'Launch outcome']

In [27]:
column_names_2 = []

for i, col in enumerate(second_launch_table.find_all('th')):
    print(i, col)
    header = extract_column_from_header(col)
    print(header)
    if header != '' and len(header) > 0:
        column_names_2.append(header)

print(column_names_2)

0 <th scope="col">Flight No.
</th>
Flight No.
1 <th scope="col">Date and<br/>time (<a href="/wiki/Coordinated_Universal_Time" title="Coordinated Universal Time">UTC</a>)
</th>
Date and time ( )
2 <th scope="col"><a href="/wiki/List_of_Falcon_9_first-stage_boosters" title="List of Falcon 9 first-stage boosters">Version,<br/>booster</a><sup class="reference" id="cite_ref-booster_17-0"><a href="#cite_note-booster-17">[b]</a></sup>
</th>

3 <th scope="col">Launch<br/>site
</th>
Launch site
4 <th scope="col">Payload<sup class="reference" id="cite_ref-Dragon_18-0"><a href="#cite_note-Dragon-18">[c]</a></sup>
</th>
Payload
5 <th scope="col">Payload mass
</th>
Payload mass
6 <th scope="col">Orbit
</th>
Orbit
7 <th scope="col">Customer
</th>
Customer
8 <th scope="col">Launch<br/>outcome
</th>
Launch outcome
9 <th scope="col"><a href="/wiki/Falcon_9_first-stage_landing_tests" title="Falcon 9 first-stage landing tests">Booster<br/>landing</a>
</th>

['Flight No.', 'Date and time ( )', 'Launch site', 'Payload', 'Payload mass', 'Orbit', 'Customer', 'Launch outcome']

**Note:**
Column names in the two tables are the same.

## 2.4. Create Data Frame

In [106]:
# create dictionary with keys from the extracted columns names
launch_dict = dict.fromkeys(column_names_1)

# remove an irrelvant column
del launch_dict['Date and time ( )']

# initial the launch_dict with empty lists
launch_dict['Flight No.'] = []
launch_dict['Launch site'] = []
launch_dict['Payload'] = []
launch_dict['Payload mass'] = []
launch_dict['Orbit'] = []
launch_dict['Customer'] = []
launch_dict['Launch outcome'] = []

# Added new columns
launch_dict['Version Booster']=[]
launch_dict['Booster landing']=[]
launch_dict['Date']=[]
launch_dict['Time']=[]

launch_dict

{'Flight No.': [],
 'Launch site': [],
 'Payload': [],
 'Payload mass': [],
 'Orbit': [],
 'Customer': [],
 'Launch outcome': [],
 'Version Booster': [],
 'Booster landing': [],
 'Date': [],
 'Time': []}

In [107]:
# define some helper functions to help extract info from HTML table
def date_time(table_cells):
    return [data_time.strip() for data_time in list(table_cells.strings)][0:2]

def booster_version(table_cells):
    out=''.join([booster_version for i,booster_version in enumerate( table_cells.strings) if i%2==0][0:-1])
    return out

def landing_status(table_cells):
    out=[i for i in table_cells.strings][0]
    return out
def get_mass(table_cells):
    mass=unicodedata.normalize("NFKD", table_cells.text).strip()
    if mass:
        mass.find("kg")
        new_mass=mass[0:mass.find("kg")+2]
    else:
        new_mass=0
    return new_mass

In [108]:
import numpy as np

# need to extract rows from table to fill up launch_dict
extracted_row = 0

#Extract each table 
for table_number, table in enumerate(soup_1.find_all('table', "wikitable plainrowheaders collapsible")):

    # get table row 
    for rows in table.find_all("tr"):
        
        #check to see if first table heading is as number corresponding to launch 
        if rows.th:
            if rows.th.string:
                flight_number = rows.th.string.strip()
                flag = flight_number.isdigit()
        else:
            flag = False

        #get table element 
        row=rows.find_all('td')
        
        #if the first table heading is a launch number 
        if flag:
            extracted_row += 1
            
            # Flight No.
            launch_dict['Flight No.'].append(flight_number)
            
            # Date                        
            datatimelist=date_time(row[0])
            date = datatimelist[0].strip(',')
            launch_dict['Date'].append(date)
                        
            # Time
            time = datatimelist[1]
            launch_dict['Time'].append(time)
                                      
            # Booster version
            bv=booster_version(row[1])
            if not(bv):
                bv=row[1].a.string
            launch_dict['Version Booster'].append(bv)
            
            # Launch Site
            launch_site = ''.join(list(row[2].strings)[0:3])
            launch_site =  launch_site.replace(",", " ")
            launch_dict['Launch site'].append(launch_site)
            
            # Payload
            payload = row[3].a.string
            launch_dict['Payload'].append(payload)
                    
            # Payload Mass
            payload_mass = get_mass(row[4])
            launch_dict['Payload mass'].append(payload_mass)
                    
            # Orbit
            orbit = row[5].a.string
            launch_dict['Orbit'].append(orbit)
                    
            # Customer
            try:
                customer = row[6].a.string
            except:
                customer = 'NaN'
            launch_dict['Customer'].append(customer)
                    
            # Launch outcome
            launch_outcome = list(row[7].strings)[0]
            launch_dict['Launch outcome'].append(launch_outcome)
                      
            # Booster landing
            booster_landing = landing_status(row[8])
            launch_dict['Booster landing'].append(booster_landing)

In [109]:
# need to extract rows from table to fill up launch_dict
extracted_row = 0

#Extract each table 
for table_number, table in enumerate(soup_2.find_all('table', "wikitable plainrowheaders collapsible")):

    # get table row 
    for rows in table.find_all("tr"):
        
        #check to see if first table heading is as number corresponding to launch 
        if rows.th:
            if rows.th.string:
                flight_number = rows.th.string.strip()
                flag = flight_number.isdigit()
        else:
            flag = False

        #get table element 
        row=rows.find_all('td')
        
        #if the first table heading is a launch number 
        if flag:
            extracted_row += 1
            
            # Flight No.
            launch_dict['Flight No.'].append(flight_number)
            
            # Date                        
            datatimelist=date_time(row[0])
            date = datatimelist[0].strip(',')
            launch_dict['Date'].append(date)
                        
            # Time
            time = datatimelist[1]
            launch_dict['Time'].append(time)
                                      
            # Booster version
            bv=booster_version(row[1])
            if not(bv):
                bv=row[1].a.string
            launch_dict['Version Booster'].append(bv)
            
            # Launch Site
            launch_site = ''.join(list(row[2].strings)[0:3])
            launch_site =  launch_site.replace(",", " ")
            launch_dict['Launch site'].append(launch_site)
            
            # Payload
            payload = row[3].a.string
            launch_dict['Payload'].append(payload)
                    
            # Payload Mass
            payload_mass = get_mass(row[4])
            launch_dict['Payload mass'].append(payload_mass)
                    
            # Orbit
            orbit = row[5].a.string
            launch_dict['Orbit'].append(orbit)
                    
            # Customer
            try:
                customer = row[6].a.string
            except:
                customer = 'NaN'
            launch_dict['Customer'].append(customer)
                    
            # Launch outcome
            launch_outcome = list(row[7].strings)[0]
            launch_dict['Launch outcome'].append(launch_outcome)
                      
            # Booster landing
            booster_landing = landing_status(row[8])
            launch_dict['Booster landing'].append(booster_landing)

In [110]:
launch_dict['Date']

['4 June 2010',
 '8 December 2010',
 '22 May 2012',
 '8 October 2012',
 '1 March 2013',
 '29 September 2013',
 '3 December 2013',
 '6 January 2014',
 '18 April 2014',
 '14 July 2014',
 '5 August 2014',
 '7 September 2014',
 '21 September 2014',
 '10 January 2015',
 '11 February 2015',
 '2 March 2015',
 '14 April 2015',
 '27 April 2015',
 '28 June 2015',
 '22 December 2015',
 '17 January 2016',
 '4 March 2016',
 '8 April 2016',
 '6 May 2016',
 '27 May 2016',
 '15 June 2016',
 '18 July 2016',
 '14 August 2016',
 '14 January 2017',
 '19 February 2017',
 '16 March 2017',
 '30 March 2017',
 '1 May 2017',
 '15 May 2017',
 '3 June 2017',
 '23 June 2017',
 '25 June 2017',
 '5 July 2017',
 '14 August 2017',
 '24 August 2017',
 '7 September 2017',
 '9 October 2017',
 '11 October 2017',
 '30 October 2017',
 '15 December 2017',
 '23 December 2017',
 '8 January 2018',
 '31 January 2018',
 '22 February 2018',
 '6 March 2018',
 '30 March 2018',
 '2 April 2018',
 '18 April 2018',
 '11 May 2018',
 '22 May 2018',
 '4 June 2018',
 '29 June 2018',
 '22 July 2018',
 '25 July 2018',
 '7 August 2018',
 '10 September 2018',
 '8 October 2018',
 '15 November 2018',
 '3 December 2018',
 '5 December 2018',
 '23 December 2018',
 '11 January 2019',
 '22 February 2019',
 '2 March 2019',
 '4 May 2019',
 '24 May 2019',
 '12 June 2019',
 '25 July 2019',
 '6 August 2019',
 '11 November 2019',
 '5 December 2019',
 '17 December 2019',
 '7 January 2020',
 '19 January 2020',
 '29 January 2020',
 '17 February 2020',
 '7 March 2020',
 '18 March 2020',
 '22 April 2020',
 '30 May 2020',
 '4 June 2020',
 '13 June 2020',
 '30 June 2020',
 '20 July 2020',
 '7 August 2020',
 '18 August 2020',
 '30 August 2020',
 '3 September 2020',
 '6 October 2020',
 '18 October 2020',
 '24 October 2020',
 '5 November 2020',
 '16 November 2020',
 '21 November 2020',
 '25 November 2020',
 '6 December 2020',
 '13 December 2020',
 '19 December 2020',
 '8 January 2021',
 '20 January 2021',
 '24 January 2021',
 '4 February 2021',
 '16 February 2021',
 '4 March 2021',
 '11 March 2021',
 '14 March 2021',
 '24 March 2021',
 '7 April 2021',
 '23 April 2021',
 '29 April 2021',
 '4 May 2021',
 '9 May 2021',
 '15 May 2021',
 '26 May 2021',
 '3 June 2021',
 '6 June 2021',
 '17 June 2021',
 '30 June 2021',
 '29 August 2021',
 '14 September 2021',
 '16 September 2021',
 '11 November 2021',
 '13 November 2021',
 '24 November 2021',
 '2 December 2021',
 '9 December 2021',
 '18 December 2021',
 '19 December 2021',
 '21 December 2021',
 '6 January 2022',
 '13 January 2022',
 '19 January 2022',
 '31 January 2022',
 '2 February 2022',
 '3 February 2022',
 '21 February 2022',
 '25 February 2022',
 '3 March 2022',
 '9 March 2022',
 '19 March 2022',
 '1 April 2022',
 '8 April 2022',
 '17 April 2022',
 '21 April 2022',
 '27 April 2022',
 '29 April 2022',
 '6 May 2022',
 '13 May 2022',
 '14 May 2022',
 '18 May 2022',
 '25 May 2022',
 '8 June 2022',
 '17 June 2022',
 '18 June 2022',
 '19 June 2022',
 '29 June 2022',
 '7 July 2022',
 '11 July 2022',
 '15 July 2022',
 '17 July 2022',
 '22 July 2022',
 '24 July 2022',
 '4 August 2022',
 '10 August 2022',
 '12 August 2022',
 '19 August 2022',
 '28 August 2022',
 '31 August 2022',
 '5 September 2022',
 '11 September 2022',
 '19 September 2022',
 '24 September 2022',
 '5 October 2022',
 '5 October 2022',
 '8 October 2022',
 '15 October 2022',
 '20 October 2022',
 '28 October 2022',
 '3 November 2022',
 '12 November 2022',
 '23 November 2022',
 '26 November 2022',
 '8 December 2022',
 '11 December 2022',
 '16 December 2022',
 '16 December 2022',
 '17 December 2022',
 '28 December 2022',
 '30 December 2022',
 '3 January 2023',
 '10 January 2023',
 '18 January 2023',
 '19 January 2023',
 '26 January 2023',
 '31 January 2023',
 '2 February 2023',
 '7 February 2023',
 '12 February 2023',
 '17 February 2023',
 '18 February 2023',
 '27 February 2023',
 '2 March 2023',
 '3 March 2023',
 '9 March 2023',
 '15 March 2023',
 '17 March 2023',
 '17 March 2023',
 '24 March 2023',
 '29 March 2023',
 '2 April 2023',
 '7 April 2023',
 '15 April 2023',
 '19 April 2023',
 '27 April 2023',
 '28 April 2023',
 '4 May 2023',
 '10 May 2023',
 '14 May 2023',
 '19 May 2023',
 '20 May 2023',
 '21 May 2023',
 '27 May 2023',
 '31 May 2023',
 '4 June 2023',
 '5 June 2023',
 '12 June 2023',
 '12 June 2023']

In [111]:
# check the dictionary length
for key in launch_dict:
    print(len(launch_dict[key]))

232
232
232
232
232
232
232
232
232
232
232

In [112]:
# convert to pandas dataframe
df=pd.DataFrame(launch_dict)
df.tail()

,Flight No.,Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Version Booster,Booster landing,Date,Time
227,228,VSFB SLC-4E,Starlink Group 2-10,"~16,400 kg",LEO,SpaceX,Success\n,F9 B5,Success,31 May 2023,06:02
228,229,CCSFS SLC-40,Starlink Group 6-4,"~17,600 kg",LEO,SpaceX,Success\n,F9 B5,Success,4 June 2023,12:20
229,230,KSC LC-39A,SpaceX CRS-28,"~9,525 kg",LEO,NASA,Success\n,F9 B5B1077.5,Success,5 June 2023,15:47
230,231,CCSFS SLC-40,Starlink Group 5-11,"~16,400 kg",LEO,SpaceX,Success\n,F9 B5,Success,12 June 2023,07:10
231,232,VSFB SLC-4E,None,U,SSO,NaN,Success\n,F9 B5,Success,12 June 2023,21:35

In [120]:
import datetime

# convert date to date formate
df['Date'] = pd.to_datetime(df['Date']).dt.date
df.tail()

,Flight No.,Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Version Booster,Booster landing,Date,Time
227,228,VSFB SLC-4E,Starlink Group 2-10,"~16,400 kg",LEO,SpaceX,Success\n,F9 B5,Success,2023-05-31,06:02
228,229,CCSFS SLC-40,Starlink Group 6-4,"~17,600 kg",LEO,SpaceX,Success\n,F9 B5,Success,2023-06-04,12:20
229,230,KSC LC-39A,SpaceX CRS-28,"~9,525 kg",LEO,NASA,Success\n,F9 B5B1077.5,Success,2023-06-05,15:47
230,231,CCSFS SLC-40,Starlink Group 5-11,"~16,400 kg",LEO,SpaceX,Success\n,F9 B5,Success,2023-06-12,07:10
231,232,VSFB SLC-4E,None,U,SSO,NaN,Success\n,F9 B5,Success,2023-06-12,21:35

In [121]:
# check what type of rockets are included in the data frame
df['Version Booster'].unique()

array(['F9 v1.0 ', 'F9 v1.1 ', 'F9 v1.1', 'F9 v1.1B1011', 'F9 v1.1B1010',
       'F9 v1.1B1012', 'F9 v1.1B1013', 'F9 v1.1B1014', 'F9 v1.1B1015',
       'F9 v1.1B1016', 'F9 v1.1B1018', 'F9 FTB1019', 'F9 v1.1B1017',
       'F9 FTB1020', 'F9 FTB1021.1', 'F9 FTB1022', 'F9 FTB1023.1',
       'F9 FTB1024', 'F9 FTB1025.1', 'F9 FTB1026', 'F9 FTB1029.1',
       'F9 FTB1031.1', 'F9 FTB1030', 'F9 FTâ™º', 'F9 FTB1032.1',
       'F9 FTB1034.1', 'F9 FTB1035.1', 'F9 FTB1029.2', 'F9 FTB1036.1',
       'F9 FTB1037.1', 'F9 B4B1039.1', 'F9 FTB1038.1', 'F9 B4B1040.1',
       'F9 B4B1041.1', 'F9 FTB1031.2', 'F9 B4B1042.1', 'F9 FTB1035.2',
       'F9 FTB1036.2', 'F9 B4', 'F9 FTB1032.2', 'F9 FTB1038.2',
       'F9 B4B1044.1', 'F9 B4B1041.2', 'F9 B4B1039.2', 'F9 B4B1045.1',
       'F9 B5B1046.1', 'F9 B4B1043.2', 'F9 B4B1040.2', 'F9 B4B1045.2',
       'F9 B5', 'F9 B5B1048', 'F9 B5B1046.2', 'F9 B5B1049.1',
       'F9 B5B1048.2', 'F9 B5B1047.2', 'F9 B5B1046.3 ', 'F9 B5B1050',
       'F9 B5B1054', 'F9 B5B1049.2', 'F9 B5B1048.3', 'F9 B5B1051.1',
       'F9 B5B1056.1', 'F9 B5B1049.3', 'F9 B5B1051.2', 'F9 B5B1056.2',
       'F9 B5B1047.3', 'F9 B5B1059.1', 'F9 B5B1056.3', 'F9 B5B1058.1',
       'F9 B5B1058.2', 'F9 B5B1049.6', 'F9 B5B1060.2', 'F9 B5B1058.3',
       'F9 B5B1051.6', 'F9 B5B1061.1', 'F9 B5B1049.7', 'F9 B5B1058.4',
       'F9 B5B1051.8', 'F9 B5B1058.5', 'F9 B5B1060.5', 'F9 B5B1049.8',
       'F9 B5B1058.6', 'F9 B5B1060.6', 'F9 B5B1061.2', 'F9 B5B1060.7',
       'F9 B5B1049.9', 'F9 B5B1051.10', 'F9 B5B1067.1', 'F9 B5B1062.2',
       'F9 B5B1049.10', 'F9 B5B1062.3', 'F9 B5B1067.2', 'F9 B5B1058.9',
       'F9 B5B1063.3', 'F9 B5B1060.9', 'F9 B5B1052.4', 'F9 B5B1067.4',
       'F9 B5B1061.8', 'F9 B5B1062.7', 'F9 B5B1060.13', 'F9 B5B1061.9',
       'F9 B5B1073.2', 'F9 B5B1058.13', 'F9 B5B1051.13', 'F9 B5B1073.3',
       'F9 B5B1069.2', 'F9 B5B1067.6', 'F9 B5B1073.4', 'F9 B5B1060.14',
       'F9 B5B1062.10', 'F9 B5B1049.11', 'F9 B5 ', 'F9 B5B1060.15',
       'F9 B5B1071.7', 'F9 B5B1073.6', 'F9 B5B1062.12', 'F9 B5B1063.9',
       'F9 B5B1077.3', 'F9 B5B1076.3', 'F9 B5B1073.7', 'F9 B5B1078.2',
       'F9 B5B1069.7', 'F9 B5B1075.3', 'F9 B5B1077.5'], dtype=object)

In [122]:
df.isnull().sum()

Flight No.         0
Launch site        0
Payload            7
Payload mass       0
Orbit              1
Customer           1
Launch outcome     0
Version Booster    0
Booster landing    0
Date               0
Time               0
dtype: int64

## 2.5. Export Data

In [123]:
df.to_csv('dataset_scraped.csv', index=False)

In [124]:
df.to_excel('dataset_scraped.xlsx', index=False)